#location {
    color: darkblue;
}

#header {
    background-color: aliceblue;
    height: auto;
    width: auto;
    text-align: center;
    padding: 5%;
    border-radius: 20px;
}

#description {
    background-color: gainsboro;
    height: 80%;
    border-radius: 10px;
    padding: 5% 10% 5% 20%;
}

#card {
    background-color: white;
    border-radius: 10px;
    width: 80%;
    padding: 2%;
}

#temperature, #feels_like, #humidity {
    color: rgb(127, 181, 202);
    font-size:xx-large;
}

#temp_min, #temp_max {
    color: midnightblue;
}

#weather {
    color: rgb(127, 181, 202);
    font-size: xx-large;
}

html {
    height: 80%;
}

body {
    background-color: lightsteelblue;
    height: 80%;
    text-align: center;
    padding: 5%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}